<div class="container">
	<div class="page-header">
        <a ui-sref="home.option" class="pull-left btn btn-default box-shadow--16dp" style="margin-right: 10px">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
		<h1 style="color: white;">Change Password</h1>
	</div>
	<div class="panel panel-default box-shadow--16dp" style="margin-bottom: 15px;">
		<div class="panel-heading">
			<h3 class="panel-title">Change Password (Field marked with * are mandatory</h3>
		</div>
		<div class="panel-body">
			<form role="form" ng-submit="updatePassword()" novalidate>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label">Old Password<span class="glyphicon glyphicon-asterisk required"></span></label>
							<input type="password" ng-model="user2.oldPassword" class="form-control">
						</div>
						<div class="col-sm-4">
							<label class="control-label">New Password<span class="glyphicon glyphicon-asterisk required"></span></label>
							<input type="password" ng-model="user2.newPassword" class="form-control">
						</div>
						<div class="col-sm-4">
							<label class="control-label">Confirm Password<span class="glyphicon glyphicon-asterisk required"></span></label>
							<input type="password" class="form-control" ng-model="user2.confirmNewPassword">
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-success box-shadow--16dp">Update Password</button>&nbsp;
			</form>
		</div>
	</div>
</div>
