<div class="container">
	<div class="page-header">
        <a ui-sref="home" class="pull-left btn btn-default box-shadow--16dp" style="margin-right: 10px">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
		<h1 style="color: white;">Option</h1>
	</div>
	<div class="row" style="margin-bottom: 5px;">
		<div class="col-xs-12">
			<div class="thumbnail box-shadow--16dp">
				<div class="caption text-center clearfix">
					<a ui-sref="home.change-password" class="btn btn-block btn-sm btn-default effect1 margin-bottom-10">
						<img src="images/Status-dialog-password-icon.png"> Change Password
					</a>
					<!-- <a ui-sref="home.biography.index" class="btn btn-block btn-sm btn-default effect1 margin-bottom-10">
						<img src="images/Photos-icon.png"> Photo &amp; Biography
					</a> -->
					<a ui-sref="home.administrator.create" class="btn btn-block btn-sm btn-default effect1 margin-bottom-10">
						<img src="images/1461672303_Add-Male-User.png"> Create Administrator
					</a>
					<a ui-sref="home.grade.index" class="btn btn-block btn-sm btn-default effect1 margin-bottom-10">
						<img src="images/1461672014_Test-paper-24.png"> Grade
					</a>
					<a ui-sref="home.question.list" class="btn btn-block btn-sm btn-default effect1 margin-bottom-10">
						<img src="images/1461671986_question.png"> Questions
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
