<div ui-view></div>
<script type="text/ng-template" id="modalImageUpload.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Upload &amp; Preview Picture</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <section class="col-sm-6">
                <img ng-src="{{imageSource}}" alt="image preview" class="img-thumbnail"
                     style="width: 256px; height: 256px;">
                <input type="file" id="file" style="visibility:hidden;"
                       onchange="angular.element(this).scope().fileNameChanged()" value="Upload"/>
            </section>
            <section class="col-sm-6">
                <button type="button" ng-click="triggerFileUpload()" class="btn btn-primary box-shadow--16dp">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-success box-shadow--16dp" ng-click="ok()">Ok</button>
                <button type="button" ng-click="cancel()" class="btn btn-danger box-shadow--16dp">Cancel</button>
                <div class="well" style="margin-top: 10px;">
                    <p class="text-info text-justify">
                        <small>*Upload only .jpeg, .jpg, .png, .bmp file. Image size should not be more than 1MB</small>
                    </p>
                </div>

                <p class="{{message.type}}" ng-show="message.text">
                    <small>{{message.text}}</small>
                </p>
            </section>
        </div>
    </div>
    <!-- <div class="modal-footer"> <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> </div> -->
</script>
