<div class="container" ng-controller="AuthenticationController as vm">
    <div class="page-header">
        <h1 style="color: white">Forgot Password</h1>
    </div>
    <div class="panel panel-default box-shadow--16dp" style="margin-bottom: 15px;">
        <div class="panel-heading">
            <h3 class="panel-title">Field marked with * are mandatory</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline" ng-submit="vm.sendRequest()">
                <div class="form-group">
                    <label class="control-label">Enter your registered Email<span class="glyphicon glyphicon-asterisk required"></span></label>
                    <input class="form-control" type="text" ng-model="vm.user.email"/>
                </div>
                <button type="submit" class="btn btn-success">Send Request</button>
            </form>
        </div>
    </div>
</div>
